@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
}

@layer {
  .kanban-card {
    @apply py-4 px-4 rounded-md bg-white border-1 border-gray-200 shadow-md shadow-gray-300/50;
  }
  .kanban-input {
    @apply p-2 rounded-md w-full border-1 border-gray-200 shadow-sm shadow-gray-200/50 focus:outline-0 text-sm font-medium;
  }
  .kanban-button {
    @apply bg-cyan-500 rounded-md py-1 px-3 cursor-pointer text-white font-semibold  hover:shadow-md hover:shadow-gray-300/100
  }
  .kanban-button-red {
    @apply bg-red-400 rounded-md py-1 px-3 cursor-pointer text-white font-semibold  hover:shadow-md hover:shadow-gray-300/100
  }
}
